:root {
  /* Colours */
  --color-bg: #9beeee; /* page background /*

  /* Header */
  --color-head-bg: #7cb4be;

  /* Logotype */
  --color-logotype-bg: #2a2828;
  --color-text-logotype: #c1bfb8;
  --font-logotype-size: 1rem;

  /* Global menu */
  --color-menu-bg: #e0e4b8;
  /* Links */
  --color-link-bg: #d7d2bb;
  --color-link-hover: #fff; /* used */
  --color-link-active: #99958f; /* used */
  --border-radius-links: 1px;

  /* Headlines og rubrik */
  --font-h1-size: 1rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 1rem;
  --font-h3-size: 1rem;
  --color-headline-bg: #4b4545;
  --color-headline-text-page: #ffffff;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #ffffff;

  /*  Marginer */
  --margin-head-bottom: 5px;

  /* Borders */
  --border-radius: 5px;

  /* Cards */
  --color-card-bg: #d8c7c7;
  --color-cta-card-bg: #d5d2d0;
  /* news-cards */
  --color-news-bg: #dbdad4;
  --color-news-bg-inverted: #585a5e;
  --color-cta-newscard-bg: #787473;
  --color-cta-newscard-bg-inverted: #7b7d83;

  /* Fonts */
  --font-family-sans: ui-sans-serif;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #f2f7ba;
  --color-infobox-1-bg: #7cb4be;
  --color-infobox-2-bg: #7cb4be;
}
